@page
@{
    ViewData["Title"] = "Список игр";
}

<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="align-middle text-center">
                        #
                    </th>
                    <th class="align-middle text-center">
                        Команды
                    </th>
                    <th class="align-middle text-center">
                        Описание
                    </th>
                    <th class="align-middle text-center">
                        Качество трансляции
                    </th>
                    <th class="align-middle text-center">
                        Счёт
                    </th>
                    <th class="align-middle text-center">
                        Дата начала
                    </th>
                    <th class="align-middle text-center">
                        Статус
                    </th>
                    <th class="align-middle text-center">
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
