@{
    ViewData["Title"] = "Main page";
}

<div class="row">
    <div class="col-sm-12 col-md-4 col mt-3">
        <div class="card h-100 shadow p-3 mb-2 bg-white rounded">
        </div>
    </div>
</div>
